*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0; // 1
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    color: $body-color;
    
    background-color: $body-bg; // 2
    -webkit-text-size-adjust: 100%; // 3
    -webkit-tap-highlight-color: rgba($black, 0); // 4
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}