.tournament {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-sm) {
        flex-direction: row;
    }
    &_item {
        display: block;
        margin-left: -3px;
        flex: 1;
        &--title {
            color: $gray-500;
            font-size: $font-size-sm;
            font-weight: $font-weight-light;
            text-align: center;
            margin-bottom: 0.5em;
        }
        &--list {
            display: flex;
            flex-direction: column;
            flex-flow: row wrap;
            justify-content: center;
            height: 100%;
            min-height: 100%;
            
            padding-left: 0;
            margin-top: 0;
            padding-bottom: 2em;
            margin-bottom: 2em;
            transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  
            @media (max-width: $breakpoint-xs) {
                padding-bottom: 1em;
                margin-bottom: 1em;
            }
  
            @media (min-width: $breakpoint-sm) {
                margin-bottom: 0;
                padding-bottom: 0;
                
                border-bottom: 0;
            }
        }
        &--li {
            display: flex;
            flex: 0 1 auto;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            padding: 2% 0;
            width: 48%;
            transition: padding 0.2s linear;

            &:nth-child(odd) {
                margin-right: 2%;
            }

            &:nth-child(even) {
                margin-left: 2%;
            }

            &::after {
                transition: width 0.2s linear;
            }

            @media (max-width: $breakpoint-xs) {
                width: 100%;
                
                &:nth-child(odd),
                &:nth-child(even) {
                margin-left: 0;
                margin-right: 0;
                }
            }

            @media (min-width: $breakpoint-sm) {
                padding: 0.5em 1em;
                // flex-grow: 2;
                width: 100%;
                
                &:nth-child(odd),
                &:nth-child(even) {
                    margin: 0 0 0 1px;
                }
                
                &::after {
                    position: absolute;
                    right: 0;
                    content: '';
                    display: block;
                    width: 1em;
                    height: 45%;
                    border-right: 2px solid $gray-400;
                }

                &:nth-child(odd)::after {
                    top: 50%;
                    border-top: 2px solid $gray-400;
                    transform: translateY(-1px);
                
                    .tournament_item & {
                        border-top-right-radius: 0.6em;
                    }
                }
                
                &:nth-child(even)::after {
                    bottom: 50%;
                    border-bottom: 2px solid $gray-400;
                    transform: translateY(1px);
                
                    .tournament_item & {
                        border-bottom-right-radius: 0.6em;
                    }
                }
                .tournament_item:first-child & {
                    padding-left: 0;
                }
                .tournament_item:last-child & {
                padding-right: 0;

                &::after {
                    display: none;
                }
                }

                .tournament_item:nth-last-child(1) & {
                    &::after {
                        border-radius: 0;
                        border-right: 0;
                    }
                }  
            }

            @media (min-width: $breakpoint-lg) {
                padding: 0.5em 1.5em;
                
                &::after {
                    width: 1.5em;
                }
            }
        }

        &--content {
            width: 100%;
            background-color: $white;
            border: 1px solid transparent;
            border-radius: 3px;
            box-shadow: 0 2px 0 0 $gray-400;
            outline: none; 
            cursor: pointer;
            transition: padding 0.2s ease-in-out, border 0.2s linear;
            
            &:focus {
                border-color: #2196F3;
            }
            
            &::before,
            &::after {
                transition: all 0.2s linear;
            }
            
            @media (max-width: $breakpoint-xs) {
                padding: 0.75em 0.5em;
            }
            
            @media (min-width: $breakpoint-sm) {
                &::before,
                &::after {
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    content: '';
                    display: block;
                    width: 1em;
                    height: 10%;
                    border-left: 2px solid $gray-400;
                }

                &::before  {
                    bottom: 50%;
                    border-bottom: 2px solid $gray-400;
                    transform: translate(0, 1px);
                
                    .tournament_item & {
                        border-bottom-left-radius: 0.6em;
                    }
                }

                &::after  {
                    top: 50%;
                    border-top: 2px solid $gray-400;
                    transform: translate(0, -1px);
                    
                    .tournament_item & {
                        border-top-left-radius: 0.6em;
                    }
                }
            }
            
            @media (min-width: $breakpoint-lg) {
                &::before,
                &::after {
                    width: 1.5em;
                }
                
                &::before {
                    transform: translate(0, 1px);
                }
                
                &::after {
                    transform: translate(0, -1px);
                }
            }
        }

        
        &:first-child .tournament_item--content {
            &::before,
            &::after {
                display: none;
            }
        }

        
    }
    &_team {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        &--divider {
            background: $gray-100;
            height: 2px;
        }
        &--img {
            width: 30px;
            height: 20px;
            flex: 0 0 20px;
            margin-right: 5px;
            img {
                width: 30px;
            }
        }
        &--title {
            font-weight: $font-weight-bold;
            white-space: nowrap;
        }
        &--score {
            background: $gray-500;
            color: $white;
            width: 30px;
            height: 30px;
            flex: 0 0 30px;
            line-height: 30px;
            font-weight: bold;
            margin-left: auto;
            text-align: center;
            border-radius: 3px;
            .team-win & {
                background-color: $purple;
            }
        }
        &--cup {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            margin-left: 5px;
            svg {
                width: 100%;
                height: 100%;
                fill: $yellow;
            }
        }
    }

}