// Colors
$black:                     #000000 !default;
$gray-100:                  #f8f9fa !default;
$gray-200:                  #e9ecef !default;
$gray-300:                  #dee2e6 !default;
$gray-400:                  #ced4da !default;
$gray-500:                  #adb5bd !default;
$gray-600:                  #6c757d !default;
$gray-700:                  #495057 !default;
$gray-800:                  #343a40 !default;
$gray-900:                  #212529 !default;
$white:                     #ffffff !default;
$blue:                      #0d6efd !default;
$indigo:                    #6610f2 !default;
$purple:                    #6f42c1 !default;
$pink:                      #d63384 !default;
$red:                       #dc3545 !default;
$orange:                    #fd7e14 !default;
$yellow:                    #ffc107 !default;
$green:                     #198754 !default;
$teal:                      #20c997 !default;
$cyan:                      #0dcaf0 !default;

$primary:                   $blue !default;
$secondary:                 $gray-600 !default;
$success:                   $green !default;
$info:                      $cyan !default;
$warning:                   $yellow !default;
$danger:                    $red !default;
$light:                     $gray-100 !default;
$dark:                      $gray-900 !default;

// Fonts
$font-family:               system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

// Base 
$body-bg:                   $gray-200 !default;
$body-color:                $gray-900 !default;

// Text
$font-weight-lighter:       lighter !default;
$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          700 !default;
$font-weight-bolder:        bolder !default;


$line-height-base:          1.5 !default;
$line-height-sm:            1.25 !default;
$line-height-lg:            2 !default;

// Breakpoint size
$breakpoint-xs:             515px;
$breakpoint-sm:             767px;
$breakpoint-md:             991px;
$breakpoint-lg:             1200px;