<partial src="header.html"></partial>
	
<div class="container">
	<div class="tournament">
		<div class="tournament_item tournament_item--quarterfinals">
			<h3 class="tournament_item--title">1/4 финала</h3>
			<ul class="tournament_item--list">
				<li class="tournament_item--li">
					<div class="tournament_item--content" tabindex="0">
						<div class="tournament_team">
							<div class="tournament_team--img"><img src="img/france.png" alt=""></div>
							<div class="tournament_team--title">FC Lyon</div>
							<div class="tournament_team--score">1</div>
						</div>
						<div class="tournament_team--divider"></div>
						<div class="tournament_team team-win">
							<div class="tournament_team--img"><img src="img/spain.png" alt=""></div>
							<div class="tournament_team--title">CD Aviación</div>
							<div class="tournament_team--score">2</div>
						</div>
					</div>
				</li>

				<li class="tournament_item--li">
					<div class="tournament_item--content" tabindex="0">
						<div class="tournament_team team-win">
							<div class="tournament_team--img"><img src="img/germany.png" alt=""></div>
							<div class="tournament_team--title">FC Augsburg</div>
							<div class="tournament_team--score">3</div>
						</div>
						
						<div class="tournament_team--divider"></div>
						<div class="tournament_team">
							<div class="tournament_team--img"><img src="img/italy.png" alt=""></div>
							<div class="tournament_team--title">Lazio</div>
							<div class="tournament_team--score">2</div>
						</div>
					</div>
				</li>
				<li class="tournament_item--li">
					<div class="tournament_item--content" tabindex="0">
						<div class="tournament_team team-win">
							<div class="tournament_team--img"><img src="img/belgium.png" alt=""></div>
							<div class="tournament_team--title">Anderlecht</div>
							<div class="tournament_team--score">3</div>
						</div>
						<div class="tournament_team--divider"></div>
						<div class="tournament_team">
							<div class="tournament_team--img"><img src="img/denmark.png" alt=""></div>
							<div class="tournament_team--title">Lyngby BK</div>
							<div class="tournament_team--score">2</div>
						</div>
					</div>
				</li>

				<li class="tournament_item--li">
					<div class="tournament_item--content" tabindex="0">
						<div class="tournament_team team-win">
							<div class="tournament_team--img"><img src="img/brazil.png" alt=""></div>
							<div class="tournament_team--title">Galvez</div>
							<div class="tournament_team--score">4</div>
						</div>
						<div class="tournament_team--divider"></div>
						<div class="tournament_team">
							<div class="tournament_team--img"><img src="img/andorra.png" alt=""></div>
							<div class="tournament_team--title">FC Encamp</div>
							<div class="tournament_team--score">2</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="tournament_item tournament_item-semifinals">
			<h3 class="tournament_item--title">1/2 финала</h3>
			<ul class="tournament_item--list">
				<li class="tournament_item--li">
					<div class="tournament_item--content" tabindex="0">
						<div class="tournament_team">
							<div class="tournament_team--img"><img src="img/spain.png" alt=""></div>
							<div class="tournament_team--title">CD Aviación</div>
							<div class="tournament_team--score">1</div>
						</div>
						<div class="tournament_team--divider"></div>
						<div class="tournament_team team-win">
							<div class="tournament_team--img"><img src="img/germany.png" alt=""></div>
							<div class="tournament_team--title">FC Augsburg</div>
							<div class="tournament_team--score">3</div>
						</div>
					</div>
				</li>

				<li class="tournament_item--li">
					<div class="tournament_item--content" tabindex="0">
						<div class="tournament_team">
							<div class="tournament_team--img"><img src="img/belgium.png" alt=""></div>
							<div class="tournament_team--title">Anderlecht</div>
							<div class="tournament_team--score">2</div>
						</div>
						<div class="tournament_team--divider"></div>
						<div class="tournament_team team-win">
							<div class="tournament_team--img"><img src="img/brazil.png" alt=""></div>
							<div class="tournament_team--title">Galvez</div>
							<div class="tournament_team--score">3</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="tournament_item tournament_item--final">
			<h3 class="tournament_item--title">Финал</h3>
			<ul class="tournament_item--list">
				<li class="tournament_item--li">
					<div class="tournament_item--content" tabindex="0">
						<div class="tournament_team">
							<div class="tournament_team--img"><img src="img/germany.png" alt=""></div>
							<div class="tournament_team--title">FC Augsburg</div>
							<div class="tournament_team--score">0</div>
						</div>
						<div class="tournament_team--divider"></div>
						<div class="tournament_team team-win">
							<div class="tournament_team--img"><img src="img/brazil.png" alt=""></div>
							<div class="tournament_team--title">Galvez</div>
							<div class="tournament_team--cup">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.478 100">
									<defs/>
									<path d="M62.54 55.127C79.887 52.9 93.478 32.725 93.478 8.141H78.179c.171-2.671.29-5.376.29-8.141H15.414c0 2.765.116 5.469.289 8.142H0C0 32.92 13.812 53.206 31.364 55.157c1.165 1.334 2.366 2.54 3.614 3.572h-.649v6.349h6.305v15.873h-6.305v6.351h-6.306V100h37.833V87.3H59.55v-6.35h-6.306V65.078h6.306v-6.349h-.65c1.261-1.041 2.47-2.257 3.64-3.602zm24.296-40.638c-1.618 15.189-8.968 27.595-18.676 32.373 4.621-8.491 7.976-19.686 9.451-32.373h9.225zm-80.195 0h9.627c1.491 12.816 4.902 24.11 9.598 32.632-9.978-4.572-17.575-17.162-19.225-32.632z"/>
								</svg>
							</div>
							<div class="tournament_team--score">1</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
	</div>
</div>

<partial src="footer.html"></partial>